.projects {
  width: 100%;
}

.projects__description {
  margin-bottom: 3rem;
}

.projects__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
  padding: 10px;
  border-radius: 10px;
}

.projects__item {
  max-width: 480px;
}

.projects__buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.4s ease;
}

.projects__button {
  display: block;
  appearance: none;
  border: none;
  font-family: inherit;
  background-color: var(--bg-btns);
  color: var(--text-btns);
  font-size: 1rem;
  text-decoration: none;
  padding: 0.7rem 1rem;
  border-radius: 4px;
}

.projects__button:disabled {
  opacity: 0.6;
}

.projects__button:hover,
.projects__button:focus {
  text-decoration: none;
  background-color: var(--hover-link-social_link-curriculo_buttons-load);
  cursor: pointer;
  transition: background-color 0.5s;
}

@media screen and (min-width: 768px) {
  .projects__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    /*max-height: 500px;
    overflow-y: scroll;
    firefox supoort
    background-color: var(--bg-list-projects);
    scrollbar-width: thin;
    scrollbar-color: var(--bg-thumb-scroll) var(--bg-scrollbar);
    */
  }

  /*webkit browsers*/
  /*.projects__list::-webkit-scrollbar {
    width: 0.5rem;
  }

  .projects__list::-webkit-scrollbar-track {
    background-color: var(--bg-scrollbar);
    border-radius: 100vw;
    margin-block: 0.5rem;
  }

  .projects__list::-webkit-scrollbar-thumb {
    background-color: var(--bg-thumb-scroll);
    border-radius: 100vw;
  }

  .projects__list::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover-link-social_link-curriculo_buttons-load);
  }

  .projects__item {
    max-width: none;
  }
  */
}

@media screen and (min-width: 992px) {
  .projects__list {
    grid-template-columns: repeat(1, minmax(min-content, 548px));
    column-gap: 20px;
    row-gap: 40px;
    /*max-height: 540px;
    */
  }
}

@media screen and (min-width: 1160px) {
  .projects__list {
    grid-template-columns: repeat(2, minmax(min-content, 548px));
  }
}

@media screen and (min-width: 1440px) {
  .section__projects{
    max-width: none;
    margin: 0;
  }
  
  .projects__list {
    display: flex;
    flex-flow: row wrap;
  }

  .projects__item {
    max-width: 548px;
  }
}
