.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1050;
  background-color: var(--bg-navbar_footer);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar__profile-img {
  display: none;
}

.navbar__name {
  display: block;
  font-size: 1.25rem;
  color: var(--text-emph);
  line-height: 1.5;
  font-weight: 400;
  margin: 0 15px 0 0;
}

/*.nav--collapse:not(.nav--show) {
  display: none;
}*/

.nav {
  flex-basis: 100%;
  transition: height 0.35s ease;
  overflow: hidden;
}

/*.nav--hidden {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.nav--show {
  height: 240px;
  width: 100%;
}*/

.nav__link:hover {
  color: var(--hover-link);
}

.btn-show-navbar,
.sidebar__btn-hide {
  appearance: none;
  display: block;
  box-sizing: border-box;
  font-family: inherit;
}

.sidebar__btn-hide--text {
  display: inline-block;
}

.sidebar__btn-hide {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.6rem 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: var(--shadow-button-menu_color-link);
}

.sidebar__btn-hide:hover {
  color: var(--bs-white);
  background-color: var(--bg-hover-btn-hide-sidebar);
}

.btn-show-navbar {
  position: fixed;
  bottom: 30px;
  left: 0;
  display: flex;
  width: 56px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 0 100px 100px 0;
  border: none;
  background-color: var(--bg-btn-show-sidebar);
  color: var(--bs-white);
  cursor: pointer;
}

.btn-show-navbar:hover {
  background-color: var(--bs-gray-600);
}

.btn-show-navbar__icon {
  display: block;
  width: 16px;
  height: 16px;
}

.nav__link {
  display: flex;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0.5rem 0;
  color: var(--shadow-button-menu_color-link);
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.nav__link_active {
  color: #ffffff;
  opacity: 0.95;
}

@media screen and (min-width: 992px) {
  .navbar {
    width: 17rem;
    height: 100vh;
    padding: 0;
    justify-content: center;
    text-align: center;
  }

  .navbar__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 10px;
  }

  .navbar__name {
    display: none;
  }

  .nav--collapsing,
  .navbar__profile-img,
  .navbar__profile-img img {
    display: block;
  }

  .navbar__profile-img img {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }

  .nav {
    flex-basis: auto;
  }

  /*.nav--hidden {
    display: block;
    width: 100%;
    height: 240px;
    transition: height 1s ease;
  }*/

  .nav__link {
    justify-content: center;
  }
}
