footer{
    background-color: var(--bg-navbar_footer);
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1;
    color: var(--text-color-footer);
    font-weight: 500;
}

.link-footer{
    text-decoration: none;
    color: var(--text-color-link-footer);
}

.link-footer:hover{
    color: var(--text-color-hover-link-footer);
}
