.tools{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
    gap: 20px;
    align-items: center;
    font-size: 3rem;
}

.workflow{
    list-style: none;
    margin-left: 16px;
}
