.section__description{
    margin-bottom: 3rem;
}

.projects{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.badges {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  /*max-width: 350px;
  margin: 0 auto;*/
}

.project__item{
    max-width: 320px;
}