.section__heading-main{
    line-height: 1;
    font-size: calc(1.725rem + 5.7vw);
}

.title__name-emph{
    color: var(--text-title-name-emph_date-betewen);
}

.section__data-addres{
    font-family: "Saira Extra Condensed", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.link-email{
    text-decoration: underline;
    color: var(--link-email);
}

.section__description-about{
    font-size: 1.15rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.social-medias{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 24px;
    margin-bottom: 3rem;
}

.link-curriculo{
    display: block;
    background-color: var(--bg-link-social_link-curriculo_buttons-load);
    color: var(--text-link-curriculo_buttons-load);
    font-size: 1rem;
    text-decoration: none;
    padding: 0.7rem 1rem;
    max-width: 140px;
    border-radius: 4px;
    text-align: center;
}

.link-curriculo:hover{
    text-decoration: none;
    background-color: var(--hover-link-social_link-curriculo_buttons-load);
}