/**header**/
.header {
  padding: 30px 20px 20px 20px;
}

.header__link-home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: 1px 1px 5px 2px var(--shadow-btn-home);
  font-size: 1.5rem;
  padding: 0px 5px;
  border-radius: 50%;
  text-align: center;
  width: 42px;
  height: 42px;
  color: var(--icon-home);
  margin: 0 0 20px 0;
}

.header__link-home:focus,
.header__link-home:hover {
  background-color: var(--bg-btn-home-active);
  color: var(--icon-home-active);
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0;
  text-align: center;
}

/**form**/
.formsearch {
  display: block;
  margin: 0px 20px 50px 20px;
}

.formsearch__group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.formsearch__wrapper-search {
  max-width: 460px;
  width: 100%;
}

.formsearch__wrapper-input {
  position: relative;
}

.icon__input {
  display: block;
  font-size: 1.4rem;
  position: absolute;
  left: 8px;
  top: 30%;
}

.formsearch__label {
  display: block;
  margin: 0 0 5px 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.formsearch__input {
  display: block;
  font-family: inherit;
  padding: 12px 40px 14px;
  font-size: 1rem;
  color: var(--text);
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid var(--color-border-input);
  background-color: transparent;
  width: 100%;
}

.formsearch__input:hover,
.formsearch__input:focus {
  border-color: var(--color-border-input);
  outline: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 0 14px 2px var(--box-shadow-focus);
}

/**list projects**/

.listprojects {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin: 0 20px 30px 20px;
}

.listproject__content{
    margin: 0 0 10px 0;
}

.listprojects__description{
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 20px 0;
}