.wrapper-datas__description,
.wrapper-datas__date-beetwen {
  margin-bottom: 1rem;
}

.wrapper-datas__date-beetwen {
  color: var(--text-title-name-emph_date-betewen);
  margin: 0;
}

@media screen and (min-width: 768px) {
  .wrapper-datas {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .wrapper-datas__datas {
    flex-grow: 1;
  }

  .wrapper-datas__date {
    flex-shrink: 0;
  }

  .wrapper-datas__description,
  .wrapper-datas__date-beetwen {
    margin-bottom: 0;
  }
}
