@import-normalize;

:root {
  --color-01: #fffcf2;
  --color-02: #ccc5b9;
  --color-03: #403d39;
  --color-04: #252422;
  --color-05: #eb5e28;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #bd5d38;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: rgb(173, 181, 189);
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #bd5d38;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --border-menu: rgba(255, 255, 255, 0.1);
  --shadow-menu_color-link: rgba(255, 255, 255, 0.55);
  --color-hover-link: rgba(255, 255, 255, 0.75);
  --hover-switch: var(--color-05);
  /*variables theme with values theme light*/
  /*general*/
  --text: var(--bs-gray-600);
  --bg-body: var(--bs-white);
  /*navbar component*/
  --bg-navbar_footer: var(--bs-primary);
  --text-emph: var(--bs-white); 
  --bg-switch-theme: var(--bs-gray-dark);
  --bg-switch-controler: var(--bs-gray-500);
  --border-button-menu: var(--border-menu);
  --shadow-button-menu_color-link: var(--shadow-menu_color-link);
  --hover-link: var(--color-hover-link);
  --hover-switche-controler: var(--hover-switch);
  /*section about*/
  --text-title: var(--bs-gray-dark);
  --text-title-name-emph_date-betewen: rgba(189, 93, 56, 1);
  --link-email: var(--bs-primary);
  --bg-link-social_link-curriculo: var(--bs-gray-700);
  --hover-link-social_link-curriculo: var(--bs-primary);
  --text-link-curriculo: var(--bs-white);
  --bg-diviser: var(--bs-gray-600);
  /*card project*/
  --bg-preview-datas: rgb(0, 0, 0, 0.65);
  --border-color-project-link: #d7d9b1;
  --border-color-hover-project-link: #f5f8de;
  --hover-text-color-project-link: #fff8f0;
  --color-text-project-title_link: var(--bs-white);
  /*footer*/
  --text-color-footer: rgba(255, 255, 255, 0.5);
  --text-color-link-footer: var(--bs-gray-100);
  --text-color-hover-link-footer: var(--bs-gray-300);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-title);
  line-height: 1.2;
}

body{
  padding-top: 3.22rem;
  color: var(--text);
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--bg-body);
}

/**MOBILE FIRST**/
